form {
    padding: 30px 0px;

}

input, select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input {
    border-width: 0 0 3px 0; 
}


input[type="submit"] {
    @include button($seafoam, #ffffff);
    background-color: transparent;
    margin: 50px auto 0 auto;
    width: 35%;
    
}

.deleteBtn {
    @include button($seafoam, #ffffff);
    background-color: transparent;
    margin: 50px auto 0 auto;
    width: 25%;
}

.closeBtn {
    @include button($silver, #ffffff);
    background-color: transparent;
    margin: 50px 15px 0 auto;
    width: 15%;
}


